
.project-slider-parent .swiper  .swiper-pagination{
   position: relative;
   bottom:0px;
    }
   
    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: #0B44A0;
        margin-top: 100px;
    }
    
    
    .my-swiper-container .swiper-slide.swiper-slide-active {
      scale: 1 !important;
      transition: 0.5s ease-in-out !important;
    }
    